<div class="container">
  <nav class="nav">
    <h1>
      <a class="logo border px-2 rounded" routerLink="/">
        <span class="text-warning">L</span>
        <span class="text-info">i</span>
        <span class="text-primary">m</span>
        <span class="text-danger">u</span>
        <span class="text-success">P</span>
        <span class="text-dark">a</span>
      </a>
    </h1>
    <div class="form-group filter-search position-relative" *ngIf="menuType !== 'seller'">
      <input type="text" #searchInput (keyup)="searchProduct($event);" (blur)="hideSearch();" class="form-control"
        placeholder="Tìm kiếm sản phẩm">
      <button class="btn btn-active" type="submit" (click)="submitSearch(searchInput.value);"><i
          class="fas fa-search"></i></button>
      <ul class="list__search__products" *ngIf="searchResult">
        <!-- <span class="close" (click)="hideSearch();"><fa-icon [icon]="iconClose"></fa-icon></span> -->
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectToDetail(item.id);" routerLink="/details/{{item.id}}">{{item.name}}</a>
        </li>
      </ul>
    </div>
    <div [ngSwitch]="menuType">
      <ul class="list__right" *ngSwitchCase="'default'">
        <li><a routerLink="/">Trang chủ</a></li>
        <li><a routerLink="/seller-auth">Người bán</a></li>
        <li><a routerLink="/user-auth">Đăng nhập</a></li>
      </ul>
      <ul class="list__right" *ngSwitchCase="'user'">
        <li><a routerLink="/">Trang chủ</a></li>
        <li>
          <a class="dropdown-toggle" type="button" (click)="dropdown()">
            Tài khoản
          </a>
          <ul class="dropdown-menu" [ngClass]="{'show': show}" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="javascript:void(0);">{{ userName | titlecase}}</a></li>
            <li><a class="dropdown-item" routerLink="/cart">Giỏ hàng({{cartItem}})</a></li>
            <li><a class="dropdown-item" routerLink="/my-orders">Đơn hàng</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="logoutUser()">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
      <ul class="list__right" *ngSwitchCase="'seller'">
        <li class="dropdown">
          <button class="btn dropdown-toggle" type="button" (click)="dropdown()">
            Tài khoản
          </button>
          <ul class="dropdown-menu" [ngClass]="{'show': show}" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/seller-home">Danh sách</a></li>
            <li><a class="dropdown-item" routerLink="/seller-add-product">Thêm Sp</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">{{ sellerName | titlecase }}</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="logoutSell()">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
