<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12">
      <ul class="list">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seller-auth">Seller</a></li>
        <li><a routerLink="/user-auth">Login</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12">
      <ul class="list">
        <li>Contact us</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
      <h3 class="logo">E-Comm</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus est odio nisi cumque, et aspernatur officia
        excepturi commodi a necessitatibus! Inventore fugiat deleniti vero ratione rem maiores totam dolor et.
      </p>
    </div>
  </div>
</div>
