.nav {
  @include flex-sp(row);
  flex-wrap: wrap;
  padding: 1em 0;
  h1 {
    width: 25%;
    a {
      color: $--black;
      font-size: 40px;
      margin: 0;
      text-decoration: none;
    }
  }

  .form-group {
    display: inline-flex;
    width: 45%;
    & input[type="text"] {
      border-color: $--black;
      border-radius: 0.25rem 0 0 0.25rem;
      height: 40px;
      &:focus {
        box-shadow: none;
      }
    }
    & input::placeholder {
      color: $--black;
    }

    & button[type="submit"] {
      border: 1px solid $--black;
      border-left: 0;
      border-radius: 0 0.25rem 0.25rem 0;
      height: 40px;
    }

    .list__search__products {
      position: absolute;
      top: 100%;
      background-color: $--white;
      width: 100%;
      flex-direction: column;
      z-index: 9;
      padding: 1rem;
      box-shadow: 5px 6px 10px $--light;
      border: 1px solid $--light;
      border-radius: 0 0 1rem 1rem;
      list-style: none;
      & span.close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 9;
      }
      & li {
        width: 100%;
        border-bottom: 1px solid $--light;
        & a {
          text-decoration: none;
          display: inline-block;
          width: 100%;
          text-align: start
        }
      }
      & li:last-child {
        border-bottom: none;
      }
    }
  }

  .list__right {
    @include flex-ul();
    margin: 0;
    padding: 0;
    a {
      color: $--black;
    }
  }
}
