.signup,
.login,
.add-product-content, .user__auth {
  @include flex-center(column);

  .common-form {
    width: 500px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }
}
.add-product-content > .common-form {
  width: 700px;
}
.add-product-content {
  .flex__center {
    @include flex-sp(row);
    .form-group.w-3{
      width: calc((100% / 3) - 1rem);
      & input#price-product,input#color-product, select#category-product {
        height: 40px;
      }
    }
  }
}
