<div class="container">
  <div class="user__auth">
    <ng-container *ngIf="showForm">
      <h1 class="user__auth__heading text-center">Người dùng đăng ký</h1>
      <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" class="common-form p-3 border">
        <div class="form-group mb-3">
          <label for="" class="form-label">Tên</label>
          <input type="text" class="form-control" required name="name" ngModel placeholder="Nhập tên">
        </div>
        <div class="form-group mb-3">
          <label for="" class="form-label">Email</label>
          <input type="email" class="form-control" required name="email" ngModel placeholder="Nhập email">
        </div>
        <div class="form-group mb-3">
          <label for="" class="form-label">Mật khẩu</label>
          <input type="password" class="form-control" required name="password" ngModel
            placeholder="Nhập mật khẩu">
        </div>
        <button class="btn btn-primary d-block w-100 mb-4">Đăng ký</button>
        <p>Đã có tài khoản? <a href="javascript:void(0);" (click)="oppenForm()">Đăng nhập</a></p>
      </form>
    </ng-container>
    <ng-container *ngIf="!showForm">
      <h1 class="user__auth__heading text-center">Người dùng đăng nhập</h1>
      <form #userLogIn="ngForm" (ngSubmit)="logIn(userLogIn.value)" class="common-form p-3 border">
        <p class="text-danger text-center">{{authErr}}</p>
        <div class="form-group mb-3">
          <label for="" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" required #email="ngModel" ngModel email
            placeholder="Nhập email">
          <p class="text-danger fs-6"><span *ngIf="email.invalid && email.touched">Vui lòng nhập giá trị hợ lệ</span></p>
        </div>
        <div class="form-group mb-3">
          <label for="" class="form-label">Mật khẩu</label>
          <input type="password" class="form-control" name="password" required #password="ngModel" ngModel minlength="3"
            maxlength="20" placeholder="Nhập mật khẩu">
          <p class="text-danger fs-6"><span *ngIf="password.invalid && password.touched">Vui lòng nhập giá trị hợ lệ</span>
          </p>
        </div>
        <button class="btn btn-primary d-block w-100 mb-4" [disabled]="userLogIn.invalid">Login</button>
        <p>Chưa có tài khoản? <a href="javascript:void(0);" (click)="oppenForm()">Đăng Nhập</a></p>
      </form>
    </ng-container>
  </div>
</div>
